* {
    font-family: Arial;
}
h1 {
    text-align: center;
}
p {
    padding: 15px;
    max-width: fit-content;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    align-content: auto;
    gap: 15px;
}
.flex-container div {
    border: 8px solid black;
}
.circle {
    fill: cadetblue;
}
.circle:hover {
    fill: darkblue;
}
.rectangle {
    fill: darkolivegreen;
}
.rectangle:hover {
    fill: darkseagreen;
}
h3 {
    text-align: center;
}
#links {
    text-align: center;
}
#bullets {
    display: inline-block;
    text-align: left;
}