* {
    font-family: Arial;
}
h1 {
    text-align: center;
}
p {
    padding: 15px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: auto;
    align-items: auto;
}
.image-container div {
    border: 8px solid black;
}